body {
    max-width: 80ch;
}
.defaultBackground {
    background-color: rgb(108, 29, 142);
}

.MainBody {
    background-color: lightslategray;
    border: 3px groove black;
    width: 100%;
    position: center;
}

.plotimage {
    position: fixed;
    width: 90%;
}

.officialOSMOlinks {
    list-style-type: none;
    font-size: small;
}

.listoflinks {
    float: right;
   
}
.linkLogos {
    width: 65px;
}
.footerLinks {
    border: 10px double black;
    padding: 15px;
    margin: auto;
    background-color: rgb(75, 31, 205);
    font-style: italic;
    
}